07-src-bfx-test-df/pipeline/01_07_LOAD_BFX_RDV_awlt_Batch.json
{
	"name": "01_07_LOAD_BFX_RDV_awlt_Batch",
	"properties": {
		"activities": [
			{
				"name": "LogExecutionStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[adf].[LogExecutionStart]",
						"storedProcedureParameters": {
							"ExternalExecutionID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"IsBatch": {
								"type": "Boolean",
								"value": "True"
							},
							"PackageName": {
								"type": "String",
								"value": "01_07_LOAD_BFX_RDV_awlt_Batch"
							},
							"ProjectName": {
								"type": "String",
								"value": "07_LOAD_BFX_RDV"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "BimlCatalog",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Batch_SolveOrder_1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LogExecutionStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'E'), equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'R'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "01_07_LOAD_BFX_RDV_awlt_Batch_1_0",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_07_LOAD_BFX_RDV_awlt_Batch_1_0",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchExecutionID": {
										"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}",
										"type": "Expression"
									},
									"BatchStartTime": {
										"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionStartTime}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Batch_SolveOrder_2",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Batch_SolveOrder_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'E'), equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'R'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "01_07_LOAD_BFX_RDV_awlt_Batch_2_0",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_07_LOAD_BFX_RDV_awlt_Batch_2_0",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchExecutionID": {
										"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}",
										"type": "Expression"
									},
									"BatchStartTime": {
										"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionStartTime}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Batch_SolveOrder_3",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Batch_SolveOrder_2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'E'), equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'R'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "01_07_LOAD_BFX_RDV_awlt_Batch_3_0",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01_07_LOAD_BFX_RDV_awlt_Batch_3_0",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchExecutionID": {
										"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}",
										"type": "Expression"
									},
									"BatchStartTime": {
										"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionStartTime}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LogExecutionEnd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Batch_SolveOrder_3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[LogExecutionEnd]",
					"storedProcedureParameters": {
						"ExecutionID": {
							"value": {
								"value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"IsBatch": {
							"value": "true",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "BimlCatalog",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "07_LOAD_BFX_RDV/Batch"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-21T20:18:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}